<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">heading 2</h2>
    <span>
      <img
        class="icon icon--white collapsible__chevron"
        src="images/chevron.svg"
      />
    </span>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas
      amet esse laboriosam consectetur? Ratione quis alias perferendis quibusdam
      magni.
    </p>
  </div>
</div>
